
/*step 4 - iteration 1 */
.target {
    width:100px;
    height:100px;
    margin: 50px;
    background-color: red;
    border: 3px dotted #17212e;

}

.bigbox {
    width:200px;
    height:200px;
    border: 3px solid #17212e;
}

/*step 4 - iteration 2 */
